<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado"
    aria-expanded="false"
    aria-label="Alterna navegação"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
        <img
          src="https://scontent.fcgh39-1.fna.fbcdn.net/v/t1.6435-9/232021854_565207651555144_2417929946355586128_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeGOvZ7GFrFMPXSJzeWQL4gu5jxR9TddHz3mPFH1N10fPTkepuQj96-qp-1W6NY4IifPwKQSiWPBqPhwkz8MdRvn&_nc_ohc=iU-mfwUUkckAX-rnkAb&_nc_ht=scontent.fcgh39-1.fna&oh=b7a428135842d177c29b9ed85a64f824&oe=614CA345"
          alt="imagem do usuario"
          width="50px"
          height="50px"
          class="img-fluid rounded-circle"
        />
      </li>

      <li class="nav-item pl-3">
        <p class="m-0 font-weight-bold text-white fs-16 "> Nome do usuário</p>
      </li>

      <li class="nav-item pl-3"></li>
      <a href="">
        <p class="text-white fs-16 m-0">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </p>
      </a>
    </ul>
    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item pl-3">
        <a class="m-0 font-weight-bold text-white fs-16"
          >Sair <i class="fa fa-sign-out aria-hidden=" true></i
        ></a>
      </li>
    </ul>
  </div>
</nav>
