<div class="container-fluid">
    <div class="row">
      <div class="col-md-6" id="img-bg"></div>
      <div class="col-md-6 alinhamento">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 mb-5">
            <h1 class='text-center'>Cadastro</h1>
  
            <div class="form-group">
              <label for="nome">Nome</label>
              <input class="form-control" type="text" name="nome" id="nome" placeholder="Digite o seu nome completo">
            </div>
  
            <div class="form-group">
              <label for="usuario">Usuario</label>
              <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite o seu nome de usuario">
            </div>
  
            <div class="form-group">
              <label for="senha">Senha</label>
              <input class="form-control" type="text" name="senha" id="senha" placeholder="Digite o sua senha">
            </div>
  
            <div class="form-group">
              <label for="confirmSenha">Confirmar senha</label>
              <input class="form-control" type="text" name="confirmSenha" id="confirmSenha" placeholder="Digite o seu nome completo">
            </div>
  
            <div class="form-group">
              <label for="foto">URL da foto</label>
              <input class="form-control" type="text" name="foto" id="foto" placeholder="Digite a url da sua foto">
            </div>
  
            <div class="form-group">
              <label for="dataNasc">Data de Nascimento</label>
              <input class="form-control" type="date" name="dataNasc" id="dataNasc" >
            </div> 
            <div class="form-group">
              <label for="tipo">Selecione o tipo de usuário</label>
              <select name="tipo" id="tipo" class="form-control">
                <option>Escolha um tipo de usuário</option>
                <option value="normal">Padrão</option>
                <option value="admin">Administrador</option>
              </select>
            </div>
  
            <div class="d-flex justify-content-around">
              <button routerLink='/entrar' type="submit" class="btn btn-outline-danger px-5">
                Cancelar
              </button>
              <button type="submit" class="btn btn-outline-info px-5">
                Cadastrar
              </button>
            </div>
          </div>
        </div>
  
  
  
  
      </div>
    </div>
  </div>
  