<div class="container-fluid">
  <div class="row align-items-center bg-and-font">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-9 text-dark">
          <h1 class="fs-54">Seja bem-vindo!</h1>
          <h5 class="fs-18">Expresse aqui seus pensamentos e opiniões!</h5>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-5 mb-2">
        <div class="col-md-6">
          <a class="btn btn-outline-dark" href="#posts">Ver postagens</a>
          <button
            class="btn btn-outline-dark butao-dark ml-3"
            data-toggle="modal"
            data-target="#newpost"
          >
            Publicar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <img src="https://i.imgur.com/PiWN0y3.png" alt="" height="500px" />
    </div>
  </div>
</div>

<div class="container mb-5 mt-5" id="posts">
  <ul
    class="nav nav-pills d-flex just justify-content-center mb-3 mt-0"
    id="pills-tab"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active primeiro"
        id="pills-home-tab"
        data-toggle="pill"
        href="#pills-todos"
        role="tab"
        aria-controls="pills-todos"
        aria-selected="true"
        >Todas as postagens</a
      >
    </li>

    <li class="nav-item" role="presentation">
      <a
        class="nav-link segundo"
        id="pills-profile-tab"
        data-toggle="pill"
        href="#pills-profile"
        role="tab"
        aria-controls="pills-profile"
        aria-selected="false"
        >Minhas postagens</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link terceiro"
        id="pills-contact-tab"
        data-toggle="pill"
        href="#pills-contact"
        role="tab"
        aria-controls="pills-contact"
        aria-selected="false"
        >Postagens por tema</a
      >
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="pills-todos"
      role="tabpanel"
      aria-labelledby="pills-todos-tab"
    >
      Todas as postagens
    </div>
    <div
      class="tab-pane fade"
      id="pills-profile"
      role="tabpanel"
      aria-labelledby="pills-profile-tab"
    >
      Minhas postagens
    </div>
    <div
      class="tab-pane fade"
      id="pills-contact"
      role="tabpanel"
      aria-labelledby="pills-contact-tab"
    >
      Postagens por tema
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="newpost"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo post</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="title"
            id="title"
            placeholder="Título"
          />
        </div>

        <div class="form-group">
          <textarea
            rows="3"
            class="form-control"
            name="texto"
            id="texto"
            placeholder="O que tem na sua mente?"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="tema"
            >Escolha um tema ou
            <a data-dismiss="modal" routerLink="/tema"
              >cadastre um novo</a
            ></label
          >
          <select class="form-control" name="tema" id="tema">
            <option value="">Selecione um tema</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        
        <button type="button"class="btn btn-danger" data-dismiss="modal">Cancelar</button>
       
        <button type="button"class="btn btn-success" >Publicar</button>
      
      </div>

    </div>
  </div>
</div>
